@font-face {
    font-family: yekan;
    src: url('../yekan-font/Yekan.eot');
    src: url('../yekan-font/Yekan.eot?#iefix') format('FontName-opentype'),
    url('../yekan-font/Yekan.woff') format('woff'),
    url('../yekan-font/Yekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: yekan, Sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

/************header************/
.header-tape {
    text-align: center;
    direction: rtl;
    height: 35px;
    padding: 0 5px;
    font-size: 14px;
    position: relative;
}

.header-tape__link {
    text-align: right;
    direction: rtl;
    color: #48a4b8;
    text-decoration: none;
    background-color: whitesmoke;
    position: absolute;
    top: 5px;
}

.header-tape__link:hover {
    text-decoration: none;
    color: #4093a5;
}

.header-tape__link:hover .header-tape__icon {
    color: #BCD42A;
}

.header-tape__icon {
    color: #48a4b8;
}

.header-tape__link--login {
    right: 20px;
}

.header-tape__link--user {
    right: 130px;
}

.header-tape__link--cart {
    left: 20px;
}
.main-nav {

    direction: rtl;
    background: #48a4b8;
    padding: 0;
    box-shadow: 0 3px 10px 0 grey;
}

.main-nav__toggle-btn {
    font-size: 25px;
    border: solid 1px white;
    margin: 5px;
}

.main-nav__icon {
    color: white;
}

.main-nav__list {
    width: auto;
    margin: 0;
    padding: 0;
}

.main-nav__item {
    text-align: center;
}

.main-nav__item:hover {
    background-color: #4093a5;
}

.main-nav__link {
    padding: 15px 20px;
    display: inline-block;
    width: 100px;
    text-align: center;
}

nav .navbar-nav li a {
    color: white !important;
}

.search-form {
    width: 100%;
    float: left;
}

.search-form__button {
    background-color: white;
    color: #4093a5;
}

.search-form__button:hover {
    background-color: #4093a5;
    color: white;
    border: solid 1px white;
}

.main-dropdown {
    background-color: #4093a5;
}

.main-dropdown__item {
    padding: 10px 0;
    text-align: center;
}
.main-dropdown__item:hover {
    background-color: #4093a5;
}

/*********footer************/
.page-footer {
    direction: rtl;
    background-color: #435175;
    color: #fff;
}

.page-footer__top-row {
    direction: rtl;
}

.page-footer__products, .page-footer__help, .page-footer__contact {
    text-align: right;
}

.page-footer__details {
    text-align: justify;
}

.page-footer__link {
    color: #fff;
}

.page-footer__link:hover {
    color: #fff;
}

.page-footer__item--ltr {
    direction: ltr;
}

.page-footer__item--inline-block {
    display: inline-block;
}

.page-footer__bottom-row {
    min-height: 90px;
    border-top: solid 1px #3c4869;
}

.page-footer__copy-right {
    text-align: right;
}

.social-media {

}

.social-media__list {
    margin: 0 0 20px 0;
    padding: 0;
    text-align: center;
}

.social-media__item {
    margin: 0 5px;
}

.social-media__link {
    color: white;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: inline-block;
    background-color: #687390;
    border-radius: 50%;
    text-align: center;
    padding: 5px;
    box-shadow: 0 0 10px 0 white;
}

.social-media__link:hover {
    box-shadow: 0 0 10px 0 dodgerblue;
}

/********main page***********/
.special-offers__title {
    font-size: 30px;
    color: #48a4b8;
    text-align: center;
}
/*Amin*/
.img-size {

    height: 620px;
}

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}

.panel-white {
    border: 1px solid #dddddd;
}

.panel-white .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
}

.panel-white .panel-footer {
    background-color: #fff;
    border-color: #ddd;
}

.post .post-heading {
    height: 95px;
    padding: 20px 15px;
}

.post .post-heading .avatar {
    width: 60px;
    height: 60px;
    display: block;
    margin-right: 15px;
}

.post .post-heading .meta .title {
    margin-bottom: 0;
}

.post .post-heading .meta .title a {
    color: black;
}

.post .post-heading .meta .title a:hover {
    color: #aaaaaa;
}

.post .post-heading .meta .time {
    margin-top: 8px;
    color: #999;
}

.post .post-image .image {
    width: 100%;
    height: auto;
}

.post .post-description {
    padding: 15px;
}

.post .post-description p {
    font-size: 14px;
}

.post .post-description .stats {
    margin-top: 20px;
}

.post .post-description .stats .stat-item {
    display: inline-block;
    margin-right: 15px;
}

.post .post-description .stats .stat-item .icon {
    margin-right: 8px;
}

.post .post-footer {
    border-top: 1px solid #ddd;
    padding: 15px;
}

.post .post-footer .input-group-addon a {
    color: #454545;
}

.post .post-footer .comments-list {
    padding: 0;
    margin-top: 20px;
    list-style-type: none;
}

.post .post-footer .comments-list .comment {
    display: block;
    width: 100%;
    margin: 20px 0;
}

.post .post-footer .comments-list .comment .avatar {
    width: 35px;
    height: 35px;
}

.post .post-footer .comments-list .comment .comment-heading {
    display: block;
    width: 100%;
}

.post .post-footer .comments-list .comment .comment-heading .user {
    font-size: 14px;
    font-weight: bold;
    display: inline;
    margin-top: 0;
    margin-right: 10px;
}

.post .post-footer .comments-list .comment .comment-heading .time {
    font-size: 12px;
    color: #aaa;
    margin-top: 0;
    display: inline;
}

.post .post-footer .comments-list .comment .comment-body {
    margin-left: 50px;
}

.post .post-footer .comments-list .comment > .comments-list {
    margin-left: 50px;
}
/*******dashboard***********/
.cms {
    direction: rtl;
}

.cms-nav {
    direction: rtl;
}
.cms-nav__link{
    display: inline-block;
    width: 80px;
    border: solid 1px #265863;
    text-align: center;
}
.cms-nav__link:hover{
    background-color: #265863;
}
.cms-nav__company-name{
    text-align: center;
    background-color: #265863;
}
.cms-sidebar {
    height: 100vh;
    text-align: right;
    background: linear-gradient(to bottom, #204755, #1c495a ) !important;
    position: fixed;
    z-index: 10;
    padding: 0;
}
.cms-sidebar__list{
    width: 100%;
    margin: 0;
    padding: 0;
}
.cms-sidebar__item{
    text-align: right;
    transition-duration: 0.4s;
}
.cms-sidebar__link{
    padding: 15px 30px;
    color: white;
    box-sizing: border-box;
    border-right: solid 5px #204755;
    transition-duration: .3s;
}
.cms-sidebar__dropdown{
    display: none;
    width: 100%;
}
.cms-sidebar__icon{
    font-size: 20px;
}
.cms-sidebar__item:hover , .cms-sidebar__item.active{
    box-shadow: 0 0 10px -3px black inset;
}
.cms-sidebar__item:hover .cms-sidebar__link , .cms-sidebar__item.active .cms-sidebar__link{
    color:  #65AAD3;
    border-right: solid 5px #65AAD3;
}

.cms-sidebar__dropdown .cms-sidebar__link:hover{
    background-color: #65AAD3 !important;
    box-shadow: 0 0 10px -3px black inset;
}
.show{
    display: block;
}
.dashboard-main{
    background-color: whitesmoke;
}
@media screen and (max-width: 769px){
    .cms-sidebar{
        position: static;
        height: auto;
    }
}

/******user profile*********/
.block-item{
    height: 100px;
    border: solid 1px lightgray;
}